In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

pa = pd.read_csv('c:/temp/data/price_availability.csv');
pa.info()
pa.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4748696 entries, 0 to 4748695
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   day             object
 2   created         object
 3   available       bool
 4   local_currency  object
 5   local_price     int64
 6   min_nights      int64
dtypes: bool(1), int64(3), object(3)
memory usage: 221.9+ MB

,listing_id,day,created,available,local_currency,local_price,min_nights
0,9810829,2018-12-08,2018-09-27 06:14:10.000+0000,True,EUR,160,1
1,9810829,2018-12-08,2018-09-26 19:34:02.000+0000,True,EUR,160,1
2,20897010,2018-12-09,2018-09-27 10:38:57.000+0000,True,EUR,172,2
3,20897010,2018-12-09,2018-09-27 06:10:27.000+0000,True,EUR,172,2
4,20897010,2018-12-09,2018-09-26 19:30:25.000+0000,True,EUR,172,2

In [2]:
lf = pd.read_csv('c:/temp/data/listings_final.csv', sep=";");
lf.info()
lf.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                1000 non-null   int64
 1   listing_id                1000 non-null   int64
 2   name                      1000 non-null   object
 3   type                      1000 non-null   object
 4   city                      1000 non-null   object
 5   neighborhood              935 non-null    object
 6   latitude                  1000 non-null   float64
 7   longitude                 1000 non-null   float64
 8   person_capacity           1000 non-null   int64
 9   beds                      1000 non-null   int64
 10  bedrooms                  1000 non-null   int64
 11  bathrooms                 1000 non-null   float64
 12  is_rebookable             1000 non-null   bool
 13  is_new_listing            1000 non-null   bool
 14  is_fully_refundable       1000 non-null   bool
 15  is_host_highly_rated      1000 non-null   bool
 16  is_business_travel_ready  1000 non-null   bool
 17  pricing_weekly_factor     1000 non-null   float64
 18  pricing_monthly_factor    1000 non-null   float64
dtypes: bool(5), float64(5), int64(5), object(4)
memory usage: 114.4+ KB

,Unnamed: 0,listing_id,name,type,city,neighborhood,latitude,longitude,person_capacity,beds,bedrooms,bathrooms,is_rebookable,is_new_listing,is_fully_refundable,is_host_highly_rated,is_business_travel_ready,pricing_weekly_factor,pricing_monthly_factor
0,0,28581061,La maison Clery,private_room,Paris,2e arrondissement,48.869292,2.348335,1,1,1,2.0,False,True,True,False,False,1.00,1.00
1,1,661961,studio PARIS PLACE EDITH PIAF 75020,entire_home,Paris,NaN,48.867284,2.403255,2,1,1,1.0,False,False,True,True,False,0.88,0.69
2,2,1261705,chambre privée à louer @ paris oberkampf,private_room,Paris,NaN,48.867894,2.375897,1,1,1,1.0,False,False,True,True,False,1.00,1.00
3,3,1318834,Appartement au coeur du Marais,entire_home,Paris,République,48.870370,2.358510,3,2,2,1.0,False,False,True,False,False,0.82,0.48
4,4,1677091,Lovely & Quiet flat,entire_home,Paris,Buttes-Chaumont - Belleville,48.874149,2.373700,2,1,1,1.0,False,False,True,True,False,0.95,0.90

In [3]:
df = pa.groupby('listing_id').mean().round(2)
mergeData = lf.merge(df, left_on ='listing_id', right_on='listing_id')
mergeData.info()
mergeData.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 999 entries, 0 to 998
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                999 non-null    int64
 1   listing_id                999 non-null    int64
 2   name                      999 non-null    object
 3   type                      999 non-null    object
 4   city                      999 non-null    object
 5   neighborhood              934 non-null    object
 6   latitude                  999 non-null    float64
 7   longitude                 999 non-null    float64
 8   person_capacity           999 non-null    int64
 9   beds                      999 non-null    int64
 10  bedrooms                  999 non-null    int64
 11  bathrooms                 999 non-null    float64
 12  is_rebookable             999 non-null    bool
 13  is_new_listing            999 non-null    bool
 14  is_fully_refundable       999 non-null    bool
 15  is_host_highly_rated      999 non-null    bool
 16  is_business_travel_ready  999 non-null    bool
 17  pricing_weekly_factor     999 non-null    float64
 18  pricing_monthly_factor    999 non-null    float64
 19  available                 999 non-null    float64
 20  local_price               999 non-null    float64
 21  min_nights                999 non-null    float64
dtypes: bool(5), float64(8), int64(5), object(4)
memory usage: 145.4+ KB

,Unnamed: 0,listing_id,name,type,city,neighborhood,latitude,longitude,person_capacity,beds,...,is_rebookable,is_new_listing,is_fully_refundable,is_host_highly_rated,is_business_travel_ready,pricing_weekly_factor,pricing_monthly_factor,available,local_price,min_nights
0,0,28581061,La maison Clery,private_room,Paris,2e arrondissement,48.869292,2.348335,1,1,...,False,True,True,False,False,1.00,1.00,0.23,45.95,1.0
1,1,661961,studio PARIS PLACE EDITH PIAF 75020,entire_home,Paris,NaN,48.867284,2.403255,2,1,...,False,False,True,True,False,0.88,0.69,0.03,44.47,2.0
2,2,1261705,chambre privée à louer @ paris oberkampf,private_room,Paris,NaN,48.867894,2.375897,1,1,...,False,False,True,True,False,1.00,1.00,0.74,49.00,3.0
3,3,1318834,Appartement au coeur du Marais,entire_home,Paris,République,48.870370,2.358510,3,2,...,False,False,True,False,False,0.82,0.48,0.95,165.00,2.0
4,4,1677091,Lovely & Quiet flat,entire_home,Paris,Buttes-Chaumont - Belleville,48.874149,2.373700,2,1,...,False,False,True,True,False,0.95,0.90,0.45,69.77,3.0

In [4]:
feature_cols = ['person_capacity', 'bathrooms', 'bedrooms']
X = mergeData.loc[:, feature_cols]
X.values

array([[1. , 2. , 1. ],
       [2. , 1. , 1. ],
       [1. , 1. , 1. ],
       ...,
       [4. , 1. , 1. ],
       [6. , 1.5, 2. ],
       [2. , 1. , 1. ]])

In [5]:
y = mergeData.local_price
y.values

array([  45.95,   44.47,   49.  ,  165.  ,   69.77,   80.56,   61.11,
        213.32,  174.03,  169.  ,  183.08,  297.76,  170.  ,   49.95,
         71.14,  160.  ,  409.55,   35.07,   62.14,  107.37,  358.12,
        115.  ,  106.71,   76.07,  302.  ,   36.59,   65.48,  153.25,
         75.88,  284.35,  219.5 ,  113.53,   93.57,  151.08,  300.  ,
        109.96,   59.08,  101.38,   67.21,   60.74,   38.  ,   92.  ,
         66.21,   79.68,   90.1 ,  170.  ,  115.75,  283.76,  144.74,
        347.67,  115.  ,  105.  ,  154.65,  380.  ,   44.17,  233.69,
        147.97,  105.  ,  163.47,  190.  ,  180.95,  128.86,  163.29,
         94.  ,   94.98,  218.96,  234.89,  300.79,   62.  ,   59.02,
         80.24,   53.  ,   92.  ,  210.88,  278.91,  165.  ,  179.67,
        105.72,   43.85,  105.16,  165.  ,  172.68,  109.  ,   42.86,
        220.  ,  136.58,  240.  ,  990.  ,  117.  ,  139.26,  196.04,
        226.  ,   69.  ,  357.44,   62.39,  145.68,  191.35,  250.  ,
        166.33,  239.7 ,  199.43,  220.  ,  180.  ,  371.36,   59.  ,
         58.  ,  315.49,  220.  ,  190.  ,   86.  ,  132.19,  277.  ,
        149.  ,   69.02,  245.  ,  161.24,  210.08,  216.23,  252.84,
         59.08,   81.  ,   60.65,  380.  ,   73.  ,   36.11,  180.  ,
        184.55,   92.28,  135.  ,   74.  ,  210.  ,   40.23,  258.28,
        238.98,  130.29,  155.  ,   92.  ,   29.  ,  122.59,  141.07,
        228.44,  145.  ,  135.88,   76.  ,   98.  ,  184.66,  144.  ,
        115.  ,  409.18,   48.44,  420.46,   47.  ,  186.5 ,  220.03,
         89.26,   79.  ,  183.95,  159.84,   83.38,  156.4 ,  104.  ,
        195.27,  132.36,   43.58,   45.83,  170.65,  158.87,   25.44,
        202.24,  176.08,   91.39,  109.  ,  261.09,  192.  ,   96.06,
         74.  ,   80.72,  170.  ,  440.  ,  321.3 ,   68.16,  101.  ,
        270.34,   30.  ,  112.  ,   57.  ,  435.13,   88.2 ,  489.98,
         68.  ,  150.95,  135.4 ,  108.  ,  591.41,   79.  ,   51.73,
         48.39,  270.  ,  395.  ,  618.  ,   30.  ,   94.83,  133.84,
        169.86,  250.  ,  108.  ,  118.2 ,  250.  ,  834.96,   95.45,
        206.15,   88.65, 1072.77,  145.  ,  160.  ,   63.14,  250.  ,
        538.86,  140.16,  129.38,  144.  ,  425.  ,   92.  ,   54.  ,
        127.  ,   88.38,   69.  ,  109.  ,   72.  ,   81.63,  148.07,
        203.42,   57.89,  136.63,   69.27,   74.11,  152.26,   89.  ,
        309.9 ,   68.06,  350.08,  417.8 ,  212.13,  248.72,   48.  ,
         39.  ,  119.  ,  350.  ,   62.  ,   96.61,  400.4 ,  176.29,
        139.23,  349.79,  232.39,   99.  ,   39.  ,  264.84,  159.  ,
        403.08,  290.  ,  296.  ,  115.  ,   56.35,  239.53,   79.  ,
        180.  ,  125.  ,  510.08,  260.94,  118.78,  327.97,   29.  ,
        160.  ,  160.  ,   54.1 ,   50.64,   99.  ,  260.  ,  300.33,
         53.5 ,  195.73,  230.  ,  334.  ,   44.66,   42.  ,  181.05,
         88.99,  118.71,   79.1 ,   36.  ,  382.62,   33.43,   70.7 ,
         95.48,   42.  ,  311.55,   51.82,  328.58,  105.  ,  130.14,
        250.  ,  309.69,   77.58,  105.  ,  196.98,  149.  ,   74.88,
        215.94,   29.  ,   52.  ,  189.12,  152.53,   47.84,  718.09,
        210.  ,   98.  ,  148.  ,  195.  ,  163.6 ,  160.64,   81.31,
        415.99,  331.6 ,   58.  ,   33.53,   20.  ,  459.71,  483.32,
        220.  ,  306.85, 1500.  ,   98.36,  275.  ,  195.  ,  114.9 ,
        184.31,  277.79,  240.  ,  168.22,  326.99,  386.58,   60.72,
         66.85,   50.  ,  115.  ,  203.89,  137.21,   49.6 ,  142.  ,
         32.86,  180.  ,   21.  ,  520.62,  115.52,  121.5 ,  135.  ,
        188.32,   89.01,  494.37,   81.66,  251.89,  238.26,   58.  ,
         47.6 ,  240.38,  347.29,  145.  ,   53.  ,  134.13,   78.37,
        794.55,  447.32,   69.  ,  489.69,   89.  ,  433.38,   89.  ,
         30.  ,  255.88,   51.53,   97.18,  375.03,   47.81,   48.  ,
        278.95,  221.41,   70.97,  221.83,   62.  ,  151.4 ,   75.8 ,
        159.93,  260.  ,  340.  ,   84.64,  170.73,   40.  ,  149.  ,
         86.  ,  237.48,   79.  ,  161.6 ,  160.03,  518.  ,  142.24,
         34.23,  143.  ,  117.39,   35.11,  254.41,  156.14,  127.91,
        322.24,  391.45,  330.  ,  207.52,   39.  ,  146.43,   81.94,
        153.56,   96.7 ,  204.96,   65.87,  109.  ,  260.  ,  111.46,
        207.43,   72.65,  170.  ,   90.21,   35.  ,   78.  ,   53.  ,
        272.84,  127.  ,  450.  ,  139.96,  114.16,  231.31,   52.89,
         40.98, 1200.  ,   79.98,   56.29,  250.05,   47.93,  101.13,
         43.02,  152.57,  179.21,   91.  ,  208.  ,   79.81,  281.57,
        158.51,  104.79,  175.  ,   37.  ,   90.36,  170.  ,  175.  ,
        177.53,  118.74,  180.  ,   94.74,   40.  ,  234.14,  195.  ,
         62.18,   62.  , 1200.  ,   43.14,   68.55,  239.96, 1000.  ,
        155.12,  170.  ,   73.08,  207.69,   58.72,  700.  ,   38.51,
         40.69,  124.76,  249.06,   45.67,   93.18,  230.73,  168.52,
        195.  ,  104.71,   90.26,   72.4 ,   54.66,   79.07,  220.  ,
        158.  ,   41.11,   47.  ,   51.69,   79.84,   60.62,   66.07,
        683.95,  456.56,   47.  ,   86.13,  296.88,  137.9 ,  165.57,
         72.05,   40.07,  113.58,  219.08,  270.63,   42.1 ,  219.44,
         59.16,   54.93,   60.65,  180.  ,   59.  ,  192.63,  240.  ,
        177.42,  116.1 ,  355.52,  353.  ,   73.25,  156.62,   40.62,
         82.24,   30.  ,  434.91,   40.  ,  118.  ,   65.68,   59.  ,
        204.39,   41.7 ,  161.55,  474.14,   57.  ,  409.  ,  130.  ,
        168.91,   79.  ,  307.02,   60.69,  529.33,  135.86,  170.  ,
        900.  ,  261.86,  160.  ,   85.79,   47.84,   68.56,   17.86,
        350.89,  176.37,   32.06,  108.49,   17.98,  160.  ,  140.51,
        871.37,  249.15,   39.92,  850.66,  470.89,  102.38,  158.84,
       1157.74,  346.41,   42.  ,  290.  ,  123.64,  190.  ,  102.  ,
        198.23,  108.56,  125.26,   40.  ,  230.02,  306.14,  107.47,
        146.58,  222.8 ,  186.18,  157.  ,   30.  ,   63.  ,   42.  ,
         28.32,  600.  ,  129.17,   89.  ,   86.78,  126.31,  269.54,
         40.  ,   51.02,  197.66,  196.59,  153.32,  119.35,  145.9 ,
         35.41,  525.  ,  300.  ,  505.62,   52.  ,  126.32,   71.02,
         70.43,  374.62,  139.17,   40.1 ,  145.17,  170.  ,  450.  ,
        400.  ,   52.74,   93.7 ,  195.  ,  650.  ,  137.  ,  263.12,
         96.  ,  192.57,  150.62,   52.  ,   80.98,  294.18,  158.92,
        117.  ,  690.99,  139.96,   59.  ,   57.6 ,  350.  ,   93.35,
        165.  ,  304.85,  291.86,   37.22,  109.42,  152.68,  115.  ,
        128.09,   61.  ,  242.21,  198.8 ,  114.96,  345.25,   78.55,
        226.49,  410.  ,  119.06,  725.18,   79.  ,   57.89,  164.52,
         70.31,  122.3 ,  170.58,   68.58,  202.27,  252.31,  153.63,
         59.58,  135.  ,  184.41,   72.  ,  611.66,  156.2 ,  164.85,
         88.  ,   76.98,  169.77,   78.  ,  226.6 ,  226.89,  144.54,
        140.91,  216.46,  210.36,  126.62,   92.02,   68.18,   99.03,
        992.72,  517.1 , 1000.  ,   85.41,  250.  ,  199.91,  250.19,
        274.1 ,   74.23,  297.6 ,  197.38,   89.43,  250.01,  161.33,
         60.05,   78.34,   93.46,   42.62,  190.  ,  111.86,   66.68,
        148.77,  241.3 ,  330.47,  146.99,  177.  ,   49.96,  170.31,
        138.91,  596.98,  399.48,  300.  ,  133.94,  134.2 ,  500.  ,
        300.  ,  145.  ,   78.02,  490.62,   68.1 ,  156.24,  133.09,
        225.83,  131.  ,  160.  ,  195.  ,  297.  ,   82.59,  338.86,
        220.  ,  690.  ,  475.  ,  298.37,  240.99,  120.32,  145.7 ,
         35.  ,   83.35,  123.  ,  197.46,  670.  ,   86.81,   91.42,
        154.98,   55.35,  233.37,  211.66,  158.8 ,   87.1 ,  317.73,
        119.29,  323.48,   94.68,  289.86,  122.58,  160.44,  127.89,
        140.38,  237.26,   35.  ,  962.54,  111.81,  183.01,  256.84,
        207.55,   24.  ,   39.15,   29.  ,   35.45,  999.  ,   26.  ,
        163.09,  199.04,   52.16,  184.31,  135.11,  989.76,   40.07,
        806.91,   25.  ,  125.  ,  180.  ,  517.71,   69.  ,   59.53,
        170.  ,  203.21,  527.14,  119.  ,  186.03,   40.11,  204.63,
        240.33,  255.75,  250.72,   65.74, 1300.  ,  108.95,  357.7 ,
        102.31,  931.66,  144.42,   50.51,  180.  ,  176.86,  215.  ,
        210.02,   41.  ,   96.11,   58.13,  197.69,   73.78,  250.  ,
        390.16,   78.08,  170.  ,  421.97,  109.72,  209.63,  229.35,
        500.3 ,  146.  ,  188.57,  210.  ,  133.62,  165.47,  181.25,
        340.81,  161.83,  617.14,  450.  ,   47.67,   92.58,   71.47,
        267.98,   75.37,  433.41,   45.18,  204.95,  212.07, 1780.59,
         69.91,  124.16,   84.  ,  254.51,   61.62,  103.56,   49.  ,
        161.3 ,   88.02,   99.  ,  150.26,  219.5 ,   68.08,  148.08,
        270.31,  191.14,   40.  ,   82.91,  288.68,   42.22,   46.87,
        110.58,  115.  ,  400.  ,  240.01,   62.  ,  175.  ,  715.  ,
        350.  ,  834.61,   90.52,  650.88,   99.46,   63.38,  121.46,
         25.  ,   54.14,   79.  ,   74.43,  314.  ,  103.82,  360.  ,
         81.81,  224.24,  650.  ,  311.63,  160.  ,   83.  ,  182.31,
        237.9 ,  184.53,  425.12,  253.97,   32.72,  145.08,  230.  ,
         28.49,   78.22,  600.  ,  329.37,  170.01,  104.  ,  299.  ,
         67.91,   30.08,   49.  ,  316.46,  179.54,  381.97,   42.41,
         99.91,  196.59,   30.  ,   30.3 ,   40.46,  143.51,  257.9 ,
         89.61,   36.52,  176.68,   99.  ,   68.35,   36.72,  117.23,
         40.02,   62.94,  114.76,   59.  ,  139.51,  143.95,   82.67,
         60.03,  222.  ,  124.45,  470.17,  650.  ,   81.81,   53.53,
         57.15,  429.29,  395.06,  119.63,   70.4 ,  170.  ,  242.98,
         44.86,  251.05,  321.01,   42.14,  259.26,  241.59,  173.02,
        248.92,   92.77,   88.39,  350.  ,   35.03,  109.98,  154.79,
         33.04,  119.03,  296.36,  427.5 ,   49.24,  520.13,  123.12,
         39.23,  362.03,  168.32,  180.  ,  182.22,   33.  ,   25.  ,
        240.  ,   55.97,  183.68,  160.23,   64.26,  182.44,  248.85,
         38.51,  147.75,  152.86,   49.18,   39.5 ])

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
X_train.shape

(699, 3)

In [7]:
y_train.shape

(699,)

In [20]:
from sklearn import linear_model
from sklearn.metrics import r2_score, mean_squared_error

regr = linear_model.LinearRegression().fit(X_train, y_train)
regr

LinearRegression()

In [21]:
print('Coefficients beta_j : \n', regr.coef_)
print('Coefficients INTERCEPT beta_0 : \n', regr.intercept_)

Coefficients beta_j :
 [33.07789742 83.12119962  8.54607816]
Coefficients INTERCEPT beta_0 :
 -42.851074713914585

In [22]:
Y_pred = regr.predict(X_train)
len(Y_pred)

699

In [26]:
print ("Mean squared error : %.2f"
    % mean_squared_error(y_train, Y_pred))

print ('Variance score : %.2f' % r2_score(y_train, Y_pred))

Mean squared error : 22564.85
Variance score : 0.34